h1, h6 {
  font-family: Shrikhand, Roboto, sans-serif; }

body, html {
  margin: 0;
  font-family: 'Roboto', sans-serif; }

.header {
  padding: 1rem;
  box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.24);
  position: relative;
  z-index: 100; }
  .header__logo {
    font-family: "Shrikhand", "cursive";
    margin: 0;
    text-align: center; }

a {
  text-decoration: none; }

.localisation {
  display: flex;
  justify-content: center;
  padding: 1.25rem 1rem;
  background-color: #f3f3f3;
  font-size: 1.2rem;
  position: relative; }
  .localisation__icon {
    margin-right: 1rem; }
  .localisation__texte {
    font-weight: 700; }

.exploration {
  padding: 2rem;
  text-align: center;
  background-color: #fafafa; }
  .exploration__titre {
    margin: 0;
    font-family: "Roboto", sans-serif; }
  .exploration__texte {
    font-weight: 300;
    margin: 1.5rem 0; }
  .exploration__bouton {
    border: 0;
    padding: 0.75rem 1.5rem;
    font-weight: 500;
    font-size: 1.1rem;
    border-radius: 100px;
    color: white;
    background-color: #686868;
    background: linear-gradient(0deg, #9356DC 0%, #FF79DA 100%);
    cursor: pointer;
    transition-duration: 0.25s;
    box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
    text-align: center;
    width: 200px;
    margin: 0 auto;
    text-decoration: none; }
    .exploration__bouton:hover {
      background-color: white;
      box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.5); }
    .exploration__bouton a {
      text-decoration: none;
      color: inherit; }

.fonctionnement {
  padding: 2rem 1rem; }
  .fonctionnement__titre {
    margin-top: 0;
    font-family: 'roboto';
    font-weight: 1000; }
  .fonctionnement__aide:hover {
    background-color: #f2eafb; }
  .fonctionnement__aide:hover i {
    color: #9356DC; }
  .fonctionnement__methode {
    margin: 0;
    padding: 0;
    list-style: none;
    counter-reset: compteListe; }
    @media (min-width: 64rem) {
      .fonctionnement__methode {
        display: flex; } }
  .fonctionnement__aide {
    padding: 1.5rem;
    margin: 1rem 0 1rem 0.75rem;
    box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.125);
    border-radius: 1.25rem;
    background-color: #f6f6f6;
    display: flex;
    position: relative;
    align-items: center; }
    @media (min-width: 64rem) {
      .fonctionnement__aide {
        flex: 1;
        margin: 0;
        margin-left: 2rem; }
        .fonctionnement__aide:first-child {
          margin-left: 0.75rem; } }
    .fonctionnement__aide:first-child {
      margin-top: 0; }
    .fonctionnement__aide:last-child {
      margin-bottom: 0; }
    .fonctionnement__aide::before {
      counter-increment: compteListe 1;
      content: counter(compteListe) " ";
      background: #9356DC;
      height: 1.5rem;
      width: 1.5rem;
      border-radius: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      position: absolute;
      left: -0.75rem; }
  .fonctionnement__icon {
    margin-right: 1rem;
    color: #7e7e7e; }

.restaurant {
  background-color: #f0f0f0;
  padding: 2rem 1rem; }
  .restaurant__titre {
    font-weight: bold;
    font-family: "roboto"; }

.grilles {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  column-gap: 2rem;
  row-gap: 2rem; }
  @media (min-width: 64rem) {
    .grilles {
      grid-template-columns: repeat(2, 1fr); } }

.contenant {
  max-width: 1280px;
  margin: auto;
  position: relative; }

.grille {
  background-color: #fff;
  border-radius: 1rem;
  position: relative;
  text-decoration: none;
  color: inherit;
  display: block;
  box-shadow: 0px 0px 12px 0px #a8a4a4; }
  .grille__image {
    height: 12rem;
    width: 100%;
    border: 0 solid transparent;
    border-radius: 1rem 1rem 0 0;
    box-shadow: none;
    object-fit: cover; }
  .grille__nouveau {
    background-color: #99E2D0;
    color: #1b6150;
    padding: 0.5rem;
    position: absolute;
    top: 1rem;
    right: 0.75rem;
    box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.125); }
  .grille__footer {
    padding: 1rem;
    position: relative;
    display: flex;
    align-items: center; }
  .grille__titre {
    margin: 0 0 .5rem;
    margin-bottom: 0.5rem;
    font-weight: 1000; }

.footers {
  background-color: #353535; }

.footer {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  padding-bottom: 2rem; }
  .footer__logo {
    color: white;
    font-family: "Shrikhand", "cursive";
    margin: 0;
    font-size: 1.2rem;
    margin-left: 1rem;
    padding-top: 1rem; }
  .footer__restaurant {
    list-style: none;
    padding: 0;
    margin: 0;
    margin: 0.5rem 0; }
  .footer__icon {
    width: 1.2rem;
    margin-right: 0.5rem;
    color: white; }
  .footer__lien {
    color: white;
    text-decoration: none; }

.header--retour {
  position: relative; }

.header__fleche {
  position: absolute;
  left: 15px;
  top: 15px;
  font-size: 30px;
  text-decoration: none;
  color: #000;
  justify-content: center;
  font-size: 1.2rem;
  color: black; }

.imageRestaurant {
  max-width: 100%;
  max-height: 32rem;
  width: 100%;
  object-fit: cover; }

.menu {
  margin-top: -4rem;
  border-radius: 2rem 2rem 0 0;
  background-color: #f6f6f6;
  z-index: 1;
  position: relative; }
  .menu__contain-button {
    padding: 2rem; }
  .menu__header__titre {
    margin: rem auto;
    padding-left: 1rem;
    padding-top: 2rem; }
  .menu__boutton {
    border: 0;
    padding: 0.75rem 1.5rem;
    font-weight: 500;
    font-size: 1.1rem;
    border-radius: 100px;
    color: white;
    background-color: #686868;
    background: linear-gradient(0deg, #9356DC 0%, #FF79DA 100%);
    cursor: pointer;
    transition-duration: 0.25s;
    box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
    text-align: center;
    width: 200px;
    margin: 0 auto;
    text-decoration: none; }
    .menu__boutton:hover {
      background-color: white;
      box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.5); }
    .menu__boutton a {
      text-decoration: none;
      color: inherit; }
