$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$appPadding: 1rem;

h1, h6 {
    font-family: Shrikhand, Roboto, sans-serif;
  }
  body, html {
    font-family: 'Roboto', sans-serif;
  }


