.header-menu {
  padding: 1rem 1rem 0.5rem;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
  position: relative;
  z-index: 1000;     

    &__fleche {
      position: absolute;
      height: 2rem;
      width: 2rem;
      top: 35%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.5rem;
      color: #000000bd;
    }
  }
  .image {
    width: 100%;
    height: 38vh;
      @media (min-width:1024px) {
        height: 25vh;
      }
      @media (min-width:1025px) {
        height: 38vh;
      }
    &__restaurant {
      height: 20rem;
      width: 100%;
      border: 0 solid transparent;
      border-radius: 1rem 1rem 0 0;
      box-shadow: none;
      object-fit: cover;
    }
  }
  .header-m {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: $ajoutPadding;
    padding-bottom: 0;

  &__bouton {
    height: 2rem;
    width: 2rem;
    background-color: transparent;
    border: transparent;
    padding: 0;
    display:flex;
    align-items:center;
    justify-content:center;
    cursor: pointer;
    position: relative;
    background-color: black;
    
    &:hover::before {
      opacity: 1;
    }
    
    &::before {
      opacity: 0;
      transition: 0.5s;
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background: linear-gradient(0deg, #9356DC 0%, #FF79DA 100%);
    }
  }
    &__like {
    transition-duration: .25s;
    background-color: #f6f6f6;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display:flex;
    align-items:center;
    justify-content:center;
    mix-blend-mode: lighten;
  }
  &__bouton:hover {
    .header__like {
      &--sans {
        opacity: 0;
      }
    }
  }
}
  .imageRestaurant {
    max-width: 100%;
    max-height: 32rem;
    width: 100%;
    object-fit: cover;
  }
  .menu-box {
    margin-top: -4rem;
    border-radius: 2rem 2rem 0 0;
    background-color: #f6f6f6;
    z-index: 1;
    position: relative;
    
    &__contain-boutton {
      padding: 2rem;
    }
    &__header {
      
      &__titre {
        margin: rem auto;
        padding-left: 1rem;
        padding-top: 2rem;
      }
    }
     .boutton {
      display: flex;
      text-decoration: none;
      justify-content: center;
      padding: 1rem 0 4rem;
      &__commander {
        @include boutton(primary);
        text-decoration: none;
        // background: linear-gradient(90deg, #FF79DA 0%,  #9356DC 100%);
      }
     }
  }
  .menu-case {
    margin: 1.2rem 0;
    padding: .2rem;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    display: flex;
    // align-items: center;
    box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.10);
    width: 100%;
    height: 65px;
    border-radius: 15px;
    background-color: white;
    animation: animation 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation-fill-mode: both;
    transform: scale(0);

    &__plat &__plat-titre {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    &__plat {
      flex: 1;
      align-items: center;
      justify-items: center;
      padding-left: 0.5rem;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    &__plat-titre {
      margin: 0;
      margin-top: 1rem;
    }
    &__plat-sousTitre {
      margin: 0;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    &__prix {
      padding-right: 10px;
      padding-top: 2rem;
      font-weight: bold;
      padding-left: 7px;
    }
    &__case {
      width: 10%;
      padding: 0px 5%;
      text-align: center;
    }
    &__confirmation {
      background-color: #99e2d0;
      margin: -1rem -5rem -1rem 1rem;
      width: 4rem;
      display: flex;
      align-items: center;
      justify-content: center;
      transition-duration: .5s;
    }
    &__wrapIcon {
      height: 1.6rem;
      width: 1.6rem;
      background-color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 100px;
      transform: rotate(180deg);
      transition-duration: .5s;    
    }
    &__icon {
      color: #99e2d0;
    }
    &:hover &__confirmation {
      margin-right: -0.2rem;
    }
    &:hover &__wrapIcon {
      transform: rotate(0);
    }
  }
  .plat-et-prix {
    display: flex;
}
  .menu-grille {

    &__contenant {
      max-width: 100%;
    overflow: hidden;
    padding: 0 1rem;
    }

    &__titre {
      text-transform: uppercase;
      position: relative;
      padding-bottom: .05rem;
      font-weight: 400;
    }
  &__titre::after {
    content: '';
    width: 50px;
    height: 4px;
    background: #99e2d0;
    position: absolute;
    z-index: 20;
    left: 0px;
    bottom: 10px;
    }
  }
 #case-1 {
   animation-delay: 0.15s;
 }
 #case-2 {
  animation-delay: 0.3s;
}
#case-3 {
  animation-delay: 0.45s;
}
#case-4 {
  animation-delay: 0.6s;
}
#case-5 {
  animation-delay: 0.75s;
}
#case-6 {
 animation-delay: 0.90s;
}
#case-7 {
 animation-delay: 1.05s;
}
#case-8 {
 animation-delay: 1.2s;
}
#case-9 {
  animation-delay: 1.35s;
 }
 #case-10 {
  animation-delay: 1.50s;
 }